.content {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Tahoma, sans-serif;
}
.form {
  position: relative;
  margin: 0 auto;
  width: 320px;
  border: 1px solid #cfdede;
  margin-top: 170px;
  padding: 0 30px;
}
.form .create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -4px;
  background-color: #01c0c0;
  color: #fff;
  height: 25px;
  width: 150px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.form label p {
  margin: 15px 0;
  font-weight: 600;
}
.form label input {
  width: 260px;
  height: 30px;
}
.form .regist_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
  width: 260px;
  height: 45px;
  font-size: 16px;
  text-align: center;
  background-color: #01c0c0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}
.form .regist_btn:hover {
  background-color: #0fadad;
}
